* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

body {
    background: #020A18;
}

.navbar {
    width: 100%;
    height: 90px;
    background: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.continer {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul li {
    list-style-type: none;
    transition: 1s;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

ul li:hover {
    transition: 1s;
    transform: scale(1.1) skew(-20deg);
    border-bottom: 1px solid red;
}

ul li a:hover {
    color: red;
}

.btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn button {
    width: 100px;
    padding: 10px;
    transition: 1s;
    background: #3A68B8;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.btn button:hover {
    border: 1px solid #fff;
    background: transparent;
    transition: 1s;
    transform: scale(1) skew(-20deg);
}


/* main */
.banner {
    width: 80%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
}


.banner .item1 .headline {
    color: #3A68B8;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner .item1 .title {
    font-weight: 800;
    font-size: 45px;
    color: #fff;
    margin-top: 15px;
}

.banner .item1 .description {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.banner .item1 .btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.banner .item1 .btns button:nth-child(1) {
    width: 171px;
    height: 57px;
    color: #fff;
    background: #3A68B8;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.banner .item1 .btns button:nth-child(2) {
    width: 171px;
    height: 57px;
    color: #fff;
    background: #3A68B8;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

@media(max-width: 800px) {
    .banner {
        flex-wrap: wrap;
        gap: 0;
    }
    .banner .item2 img {
        transform: scale(0.5);
    }
    .navbar {
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 80px;
    }
}

/* container */
.container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    background: #010811;
    color: #fff;
    padding: 100px 0;
    margin-top: 100px;
}

.container .item2 .title {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 700;
}

.container .item2 .description {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 25px;
}

.container .item2 button {
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
    background: #3A68B8;
    width: 150px;
    height: 52px;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.container .item1 img {
    width: 700px;
    height: 650px;
}


/* image */
.out-title {
    color: #fff;
    text-align: center;
    font-size: 54px;
    margin-top: 100px;
    font-weight: 700;
}

.vscode {
    text-align: center;
    margin-top: 50px;
}

.out-desc {
    color: #fff;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}


/* section */
.section {
    background: #F5F3F4;
    width: 100%;
    padding: 100px 0;
    margin-top: 100px;
}

.section .main-title {
    text-align: center;
    color: #12100C;
    font-size: 54px;
    font-weight: 700;
}

.section .cont .block1 {
    width: 642px;
    height: 651px;
    background: #fff;
    padding-top: 90px;
    border-radius: 30px;
}

.section .cont .block1 .title3 {
    color: #12100C;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.section .cont .block1 .desc1 {
    color: #12100CB2;
    font-size: 24px;
    margin-top: 10px;
    font-weight: 400;
}

.section .cont .block1 .btns {
    margin-top: 50px;
    margin-left: 200px;
}

.section .cont .block1 .btns .button1 {
    background: #FC6D26;
    box-shadow: 0px 1px 1px 0px #0000001A;
    width: 262px;
    height: 46px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
}
.section .cont .block1 .btns .button2 {
    background: #000000;
    box-shadow: 0px 1px 1px 0px #0000001A;
    width: 262px;
    height: 46px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
}
.section .cont .block1 .btns .button3 {
    background: #2684FF;
    box-shadow: 0px 1px 1px 0px #0000001A;
    width: 262px;
    height: 46px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
}

.section .cont .block1 .desc2 {
    color: #12100CB2;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.section .cont .block1 .desc3 {
    color: #12100C;
    background: #FFE4BC;
    width: 151px;
    height: 31px;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 400;
    margin-left: 250px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.section .block2 .cont2 .main-title {
    color: #12100C;
    font-size: 32px;
    font-weight: 700;
}

.section .block2 .cont2 .desc1 {
    color: #12100CB2;
    font-size: 23px;
    margin-bottom: 25px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.section .block2 {
    width: 642px;
    height: 651px;
    background: #fff;
    padding-top: 90px;
    border-radius: 30px;
}

.section .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.section .block2 .cont2 .block {
    width: 530px;
    height: 56px;
    margin-top: 10px;
    background: #F9F9F9;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.section .block2 .cont2 .block .item1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.section .block2 .cont2 .block .item2 button {
    background: #12100C;
    box-shadow: 0px 1px 1px 0px #0000001A;
    color: #fff;
    width: 143px;
    height: 32px;
    border-radius: 12px;
    font-size: 14px;
    border: none;
    font-weight: 400;
}

.section .block2 .cont2 .block {
    margin-left: 70px;
}


/* Logos */
.tech-title {
    color: #fff;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    margin-top: 50px;
}

.logos .logo img {
    width: 100px;
    height: 100px;
}

.logos .logo p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
}

.logos .logo img:hover {
    transition: 1s;
    cursor: pointer;
    box-shadow: 5px 10px 10px aqua;
    transform: skew(-10deg);
}

/* container 2 */
.container2 {
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    background: #010811;
    margin-top: 100px;
}

.container2 .item1 .title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}

.container2 .item1 .p {
    color: #ffffffdc;
    font-size: 16px;
    margin-top: 30px;
    font-weight: 600;
}