* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}

body {
    background: #020A18;
}

.navbar {
    width: 100%;
    height: 90px;
    background: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.continer {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul li {
    list-style-type: none;
    transition: 1s;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

ul li:hover {
    transition: 1s;
    transform: scale(1.1) skew(-20deg);
    border-bottom: 1px solid red;
}

ul li a:hover {
    color: red;
}

.btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn button {
    width: 100px;
    padding: 10px;
    transition: 1s;
    background: #3A68B8;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.btn button:hover {
    border: 1px solid #fff;
    background: transparent;
    transition: 1s;
    transform: scale(1) skew(-20deg);
}


/* banner */
.banner {
    width: 80%;
    height: 600px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 0 auto;
    /* background: url('bg-banner.avif') no-repeat center/ cover; */
}


.banner .item1 .headline {
    color: #3A68B8;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner .item1 .title {
    font-weight: 800;
    font-size: 45px;
    color: #fff;
    margin-top: 15px;
}

.banner .item1 .description {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.banner .item1 .btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.banner .item1 .btns button:nth-child(1) {
    width: 171px;
    height: 57px;
    color: #fff;
    background: #3A68B8;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.banner .item1 .btns button:nth-child(2) {
    width: 171px;
    height: 57px;
    color: #fff;
    background: #3A68B8;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

@media(max-width: 800px) {
    .banner {
        flex-wrap: wrap;
        gap: 0;
    }
    .banner .item2 img {
        transform: scale(0.5);
    }
    .navbar {
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 80px;
    }
}