* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    height: 90px;
    background: dodgerblue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.continer {
    display: flex;
    gap: 40px;
    list-style-type: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
}

ul li {
    list-style-type: none;
    transition: 1s;
}

ul li a {
    text-decoration: none;
    color: #fff;
}

ul li:hover {
    transition: 1s;
    transform: scale(1.1) skew(-20deg);
    border-bottom: 1px solid red;
}

ul li a:hover {
    color: red;
}

.btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn button {
    width: 100px;
    padding: 10px;
    border: 1px solid #fff;
    transition: 1s;
    background: transparent;
    color: #fff;
}

.btn button:hover {
    background: #3ed5ff;
    transition: 1s;
    transform: scale(1) skew(-20deg);
}